.grid {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.grid div {
  height: 20px;
  width:20px;
}

.tetrominoblue {
  background-color: blue;
}

.tetrominored {
  background-color: red;
}

.tetrominogreen {
  background-color: green;
}

.tetrominoorange {
  background-color: orange;
}

.ground {
  background-color:plum;
}